.stroke_text {
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.Advertisements {
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
    margin-bottom: 5rem;
}

.left_t {
    display: flex;
    flex: 1 1;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;
    color: white;
}

.left_t>:nth-child(1){
    color: var(--orange);
    font-weight: bold;
}

.left_t>:nth-child(2),
.left_t>:nth-child(3){
    font-weight: bold;
    font-size: 3rem;
}

.review {
    text-transform: none;
}
.span_name {
    color: #f48915;
}

.right_t {
    flex: 1;
    position: relative;
}

.right_t>img {
    position: absolute;
    width: 15rem;
    height: 20rem;
    object-fit: contain;
    right: 8rem;
    top: 2rem;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.right_t > img:hover {
    transform: scale(1.05);
}

.right_t>:nth-child(1) {
    position: absolute;
    width: 15rem;
    height: 20rem;
    border: 2px solid orange;
    background-color: transparent;
    right: 9rem;
    top: 0.9rem;
    border-radius: 5px;
}

.right_t>:nth-child(2) {
    position: absolute;
    width: 15rem;
    height: 19rem;
    right: 7rem;
    top: 4rem;
    background: var(--planCard);
    border-radius: 5px;
}

.arrows {
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: -0.5rem;
    left: 9rem;
}

.arrows>img {
    width: 1.5rem;
    cursor: pointer;
}

/* ----------Estilos responsive---------- */
@media  screen and (max-width: 768px) {
    .Advertisements {
        flex-direction: column;
    }

    .left_t>:nth-child(2), .left_t>:nth-child(3) {
        font-size: xx-large;                
    }

    .right_t {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .right_t>div {
        position: relative;
        display: none;
    }

    .right_t>img {
        top: 0;
        right: 0;
        position: relative;
        align-self: center;
        border-radius: 5px;
    }

    .right_t>:last-child {
        display: block;
        bottom: 0;
        left: 0;        
    }
   
}