.header {
    display: flex;
    justify-content: space-between;
}

/*----------Estilos logo----------*/
.logo {
    width: 14rem;
    height: 4.6rem;
    margin-right: auto; 
}

/*----------Estilos menú----------*/
.header_menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

/* .header_menu > li {
    cursor: pointer;
} */

.header_menu > li:hover {
    color: var(--orange);
    cursor: pointer;
}